<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판 글 목록</title>
</head>
<body>
<div class="container">
    <h2>[게시글 목록]</h2>
   <!-- 게시글 목록 출력-->
    <table border="1">
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>글쓴날</th>
            <th>글쓴이</th>
            <th>조회수</th>
        </tr>
        <tr th:each="myBoard, status :${boardList}">
            <td th:text="${myBoard.boardseq}">1</td>
            <td><a href="#" th:href="@{/board/boardDetail(boardseq=${board.boardseq})}" th:text="${myBoard.title}">제목</a></td>
            <td th:text="${myBoard.regdate}">2022.2.7</td>
            <td th:text="${myBoard.usrid}">홍길동</td>
            <td th:text="${myBoard.hitcount}">0</td>
        </tr>
    </table>
    <div>
        <a href="#" th:href="@{/myBoard/boardWrite}">글 등록</a> <!--글을 쓸 수 있는 화면 요청-->
    </div>
</div>

</body>
</html>